# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/idea
/output
audio_devices.txt
AudioDeviceCmdlets.dll
experiments.py
icons8-microphone-70.png
Гитхаб.txt